[Unit]
Description=Anticitera M2 Status and Brightness API
After=network.target

[Service]
ExecStart=/usr/bin/python3 /home/pirate/docker/synapse-ia/tools/m2_status_api.py
WorkingDirectory=/home/pirate/docker/synapse-ia
Restart=always
User=root

[Install]
WantedBy=multi-user.target
